body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    display: flex;
    justify-content: center;
}
div {
    padding-bottom: 30px;
}

form {
    margin-top: 150px;
   
}

.interesse {
    display: flex;
    flex-direction: column;
}


label {
    max-width: 600px;
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea,
input[type="password"],
button {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    max-width: 600px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .principal {
        margin: 20px;
        padding: 15px;
    }
    
    form {
        grid-template-columns: 1fr;
    }
    
    .gen, .interesse {
        flex-direction: column;
    }
    
    .gen label, .interesse label {
        margin-bottom: 5px;
    }
    
    .interest-options label {
        margin-right: 0;
    }
}
